
/* Load font in modern, efficient formats first */
@font-face {
  font-family: 'MERKPIX-Bold';
  src: url('../fonts/MERKPIX-Bold.eot'); /* IE8 */
  src: url('../fonts/MERKPIX-Bold.eot?#iefix') format('embedded-opentype'), /* IE9+ */
       url('../fonts/MERKPIX-Bold.woff2') format('woff2'), /* Modern */
       url('../fonts/MERKPIX-Bold.woff') format('woff'),   /* Older modern */
       url('../fonts/MERKPIX-Bold.ttf') format('truetype');/* Legacy fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
    font-family: 'MERKPIX-Bold', 'Courier New', Courier, monospace;
    color: rgb(204, 204, 204);
    /*background: linear-gradient(to bottom, #0a0a23, #3d005c);*/
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

a {
    color: #f9dc5c; 
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff6f61; 
}


h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #f9dc5c; 
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f9dc5c;
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: rgba(246, 245, 252, 0.0);
    /*
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    */
}

footer {
    background: #02020f;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 0.9rem;
}
/*
#logo {
    margin-right: 15px;
    padding-bottom: 13px;
}
*/
.navbar {
    background-color: #000000;
    padding: 0px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* thinner weight */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar a {
    color: #ffffff; 
}

.navbar a:hover {
    color: rgb(255, 209, 68); 
}


nav button {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-color: #000000;
  border: none;
  /*border-radius: 5px;*/
  cursor: pointer;
}

nav button:hover {
  color: rgb(255, 209, 68); 
}

#mainMenu {
    background-color: #000000;
    color: #ffffff;
}

/* Turn navbar white */
.navbar.white-bg {
  background-color: white !important;
}


/* When active, turn it into an X */
.button.menu-open::after {
  content: '✖';  /* Unicode X */
  color: black;
}

.button.menu-open {
  color: transparent; /* Hide "Menu" text */
}

.offcanvas-body{
    text-align: right;
    padding: 0;
    margin: 0;
}

.offcanvas-body button {
    font-size: 2.0rem;
    color: #ffffff; 
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.offcanvas-body a {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.hand-drawn-line {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
}